//- Keeping for reference, created in app-ploys.js
mixin ployRow(desc, due)
    .ploy
        span.ploy__drag-bar
        input.ploy__checkbox(type="checkbox")
        span.ploy__ploy-desc= desc
        span.ploy__due-date= due

.notepad
    .complete-tab-bar
        span.complete-tab.tab-active Incomplete
        span.complete-tab Completed
    .ploy-action-bar
        div.action-menu-button.delete_ploy Delete
        div.action-menu-button.mark_complete Completed
    form(class="add-ploy" action='/ploys' method='post')
        input(type='text' id='add-ploy-field' name='ploy' placeholder='Add a ploy...' required)
        button(type='submit') Add Ploy
    .ploy-container
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
        .ploy.empty
