.body
   .sidebar-left
       img(src="../img/evil-cow-image-red.png", alt="", id="cow-img")
       .schemes-box
           .left-container-schemes
               a(href='#' id="schemes-arrow")
                   i.fa.fa-sort-down#schemes-arrow-i
               span All Schemes
           .right-container-schemes.add-scheme-button
               a(href='#')
                   i.fa.fa-plus-square
       .schemes-list
   .tasks-main
       include app-body-left.pug
       include app-body-right.pug
        //-       .ploys-box
        //-    .left-container-ploys
        //-        a(href='#')
        //-            i.fa.fa-sort-down
        //-        span All Ploys
        //-    .right-container-ploys
        //-        a(href='#')
        //-            i.fa.fa-plus-square