mixin summaryBox (number, summaryId)
    .scheme-summary-box
        .scheme-summary-number(id=summaryId)= number
        .scheme-summary-text= summaryId

//Divs displaying data for ploys, for reference
mixin ployDataDiv (ploy_name)
    .ploy-data
        form.ploy-data__name-form
            input(type="text" value=ploy_name)
            button(type="submit") Rename

.task-summary
    h3.list-name Put List Name Here
    .scheme-summary
        +summaryBox(3, "tasks")
        +summaryBox(0, "overdue")
        +summaryBox(0, "completed")
