//- block navbar
.navbar
    form(class='search' action='/app/search' method='get')
        input(type="text" name="search" id="search-bar")
        button(type="submit") 
            i(class="fa fa-search") 
    span Welcome #{user.firstName}!
    form(action="/users/logout", method="post") 
        button(type='submit') LogOUTTTTTT!!!!!
    