//- mixin schemeEntry(name, ployNum)
//-     .scheme-entry
//-         span= name
//-         .ploy-numbers= ployNum
.body
    .sidebar-left
        a.logo(href="/app")
        .ploy-menu All Ploys
            .ploy-dropdown 
                .div PLOY 1
                .div PLOY 2
        .scheme-menu 
            .scheme-dropdown Schemes
            button.add-scheme-button +
            .add-scheme-modal
                .modal-content
                    p Add a Schme 
                    p Please enter a new scheme name: 
                    form
                        input(id="modal-form" name='modal-form' type='text' required)
                        button(type='submit' id="add-list") Add 
                        button(type='submit' id="exit-modal") Cancel
    .tasks-main
        include app-body-left.pug
        include app-body-right.pug
