//- mixin schemeEntry(name, ployNum)
//-     .scheme-entry
//-         span= name
//-         .ploy-numbers= ployNum
.body
    .sidebar-left
        a.logo(href="/app")
        .ploy-menu All Ploys
            .ploy-dropdown 
                .div PLOY 1
                .div PLOY 2
        .scheme-menu 
            .scheme-dropdown Schemes
            button.add-scheme-button +
    .tasks-main
        include app-body-left.pug
        include app-body-right.pug
