extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/app.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  //- add page specific js

  script(src='/javascripts/app-ploys.js' type="module")

  script(src='/javascripts/schemes.js' type="module") 

  script(src="/javascripts/list-modal.js" type="module")



block content
  div.add-scheme-modal#add-scheme-modal
    .modal-content
      p Add a Scheme
      p Please enter a new scheme name:
      form
          input(id="modal-form" name='modal-form' type='text' required)
          div#modal-button-container  
            button(type='submit' id="add-list") Add
            button(type='submit' id="exit-modal") Cancel
  div.main-container

    include app-navbar.pug
    include app-body.pug
