footer.footer-container
    div.container
        div.lists
            ul Company
                li
                li
                li
                li
            ul Product
                li
                li
                li
                li
                li
        div.lists
            ul Community
                li
                li
                li
                li
                li
            ul Support
                li
                li
                li
                li
                li
