footer(class="footer-container")
    div(class="footer")
        div(class="lists list-1")
            h3 Nathaniel Cooke
            div.dotted
            ul
                div.lis
                    li: a(href="https://github.com/nathanieldcooke") GitHub
                div.lis
                    li: a(href="/") LinkedIn
        div(class="lists list-2")
            h3 Brian Xue
            div.dotted
            ul
                div.dottedv.lis
                    li: a(href="https://github.com/bxue2") GitHub
                div.lis
                    li: a(href="https://www.linkedin.com/in/brian-xue/") LinkedIn
        div(class="lists list-3")
            h3 Alex Clough
            div.dotted
            ul
                div.lis
                    li: a(href=" https://github.com/CodingInRhythm/") GitHub
                div.lis
                    li: a(href="https://www.linkedin.com/in/alex-clough-710546200/") LinkedIn
        div(class="lists list-4")
            h3 Christian Cozma
            div.dotted
            ul
                div.lis
                    li: a(href="https://github.com/Christian-Cozma") GitHub
                div.lis
                    li: a(href="https://www.linkedin.com/in/christian-cozma-9847431ba/") LinkedIn
                div.lis
                    li: a(href="https://twitter.com/cozma_christian") Twitter
    div(class="footer-bottom")
        div(class="logo")
            ul
                li © 2021 To Doom List
        //- span(class="tdl-legal")
        //-     ul
        //-         li: a(href="/") Terms
        //-         li •
        //-         li: a(href="/") Privacy
        //-         li •
        //-         li: a(href="/") Security
        //- div(class="languages")
        //-     ul
        //-         li English (US)
        //- div(class="social-media")
        //-     a(href="/") FB
        //-     a(href="/") Twitter
        //-     a(href="/") Tumblr
