footer(class="footer-container")
    div(class="footer")
        div(class="lists list-1")
            h3 Company
            ul
                li: a(href="/") About
                li: a(href="/") Jobs
                li: a(href="/") Press
                li: a(href="/") Blog
        div(class="lists list-2")
            h3 Product
            ul
                li: a(href="/") Tour
                li: a(href="/") What's New
                li: a(href="/") Download Apps
                li: a(href="/") Integrations
                li: a(href="/") Upgrade
        div(class="lists list-3")
            h3 Community
            ul
                li: a(href="/") Forums
                li: a(href="/") Tester Program
                li: a(href="/") The Dairy
                li: a(href="/") Translations
                li: a(href="/") API
        div(class="lists list-4")
            h3 Support
            ul
                li: a(href="/") Help Center
                li: a(href="/") Get Started
                li: a(href="/") Tips & Tricks
                li: a(href="/") Status
                li: a(href="/") Contact Us
        div(class="footer-bottom")
            div(class="logo")
                ul
                    li © 2021 To Doom List
            div(class="tdl-legal")
                ul
                     li: a(href="/") Terms
                     li •
                     li: a(href="/") Privacy
                     li •
                     li: a(href="/") Security
            div(class="languages")
                ul
                    li English (US)
            div(class="social-media")
                a(href="/") FB
                a(href="/") Twitter
                a(href="/") Tumblr
