
footer(class="footer-container")
    link(rel="stylesheet" href="/stylesheets/app-footer.css")
    div(class="footer")
        div(class="lists list-1")
            a(href="https://nathanieldcooke.github.io/" class="portfolio-link" target="_blank" rel="noopener noreferrer")
                h3.name-link Nathaniel Cooke
            div.dotted
            ul
                div.lis
                    li: a(href="https://github.com/nathanieldcooke" target="_blank" rel="noopener noreferrer") GitHub
                div.lis
                    li: a(href="https://www.linkedin.com/in/nathaniel-cooke-257a1363/" target="_blank" rel="noopener noreferrer") LinkedIn
        div(class="lists list-2")
            a(href="https://bxue2.github.io/" class="portfolio-link" target="_blank" rel="noopener noreferrer"): h3.name-link Brian Xue
            div.dotted
            ul
                div.dottedv.lis
                    li: a(href="https://github.com/bxue2" target="_blank" rel="noopener noreferrer") GitHub
                div.lis
                    li: a(href="https://www.linkedin.com/in/brian-xue/" target="_blank" rel="noopener noreferrer") LinkedIn
        div(class="lists list-3")
            a(href="https://codinginrhythm.github.io/" class="portfolio-link" target="_blank" rel="noopener noreferrer")
                h3.name-link Alex Clough
            div.dotted
            ul
                div.lis
                    li: a(href=" https://github.com/CodingInRhythm/" target="_blank" rel="noopener noreferrer") GitHub
                div.lis
                    li: a(href="https://www.linkedin.com/in/alex-clough-710546200/" target="_blank" rel="noopener noreferrer") LinkedIn
        div(class="lists list-4")
            a(href="https://christian-cozma.github.io/" target="_blank" rel="noopener noreferrer"): h3.name-link Christian Cozma
            div.dotted
            ul
                div.lis
                    li: a(href="https://github.com/Christian-Cozma" target="_blank" rel="noopener noreferrer") GitHub
                div.lis
                    li: a(href="https://www.linkedin.com/in/christian-cozma-9847431ba/" target="_blank" rel="noopener noreferrer") LinkedIn
                //- div.lis
                //-     li: a(href="https://twitter.com/cozma_christian" target="_blank" rel="noopener noreferrer") Twitter
    div(class="footer-bottom")
        div(class="logo")
            ul
                li © 2021 To Doom List
        //- span(class="tdl-legal")
        //-     ul
        //-         li: a(href="/") Terms
        //-         li •
        //-         li: a(href="/") Privacy
        //-         li •
        //-         li: a(href="/") Security
        //- div(class="languages")
        //-     ul
        //-         li English (US)
        //- div(class="social-media")
        //-     a(href="/") FB
        //-     a(href="/") Twitter
        //-     a(href="/") Tumblr
