

header 
  div.main-nav-box
    div.home-page-image To Doom List
    ul.links
        li: a(href='/') Tour
        li: a(href='/') Evil Layerz 
        li: a(href='/') Muahahaha 
        li: a(href='/') I am evil
        li: a(href='/') Log in
        li: a(href='/') Sign up for free
      
    