

header
  div.main-nav-box
    img(src="../img/evil-cow-image.png", alt="", class="home-page-image")
    ul.links
        //- li: a(href='/') About Us --> Here's an idea: A route that leads to a basic page about each one of us?
        li: a(href='/users/login' class="navbar-links" id="nv-bar-login") Log in
        li: a(href='/users/sign-up' id='sign-up' class="navbar-links") Sign up for fre<span>Evil</span>
        li: a(href='/users/sign-up' id='sign-up' class="navbar-links") Demo
