div.main-body
  div.main-container
    div.top-container
        p.mission-statement The smart to-do app for busy people.  
        a(href='/users/sign-up' id='mid-page-sign-up') Sign Up Free
    div.frame-1
        div.left-bubble-1
          img(src="../img/text-bubble.png", alt="" id="left-bubble-img-1")
          div
            p Steal the Moon ...
        div.right-bubble-1
          img(src="../img/text-bubble.png", alt="" id="right-bubble-img-1")
          div
            p ..Buy Milk After
        img(src="../img/dr.png", alt="", id="person-img-1")
        div.end-1
          p Get to-dos out of your head.
        div.end-2
          p Stop thinking about your to-dos, and let the app remember for you.
    div.frame-2
        div.left-bubble-2
        img(src="../img/black-evil-cow-image.png", alt="", class="black-cow", id="black-cow-left")
        div.l-bubble-text
          p Snap away the universe..
        div.right-bubble-2
        img(src="../img/black-evil-cow-image.png", alt="", class='black-cow', id="black-cow-right")
        div.r-bubble-text
          p ..Buy Milk After
        img(src="../img/thanos.png", alt="", id="person-img-2")
        div.end-1-2
          p Get reminded, anywhere.
        div.end-2-2
          p You'll never forget the milk (or enything else) again.
    div.frame-3
        div.left-bubble-3
        img(src="../img/jesse.png", alt="", class="text-emoji", id="jesse-left")
        div.l-bubble-text-3
          p Protect the world from devastation
        div.right-bubble-3
        img(src="../img/james.png", alt="", class="text-emoji", id="james-right")
        div.r-bubble-text-3
          p Unite all peoples within out nation
        img(src="../img/team-rocket.png", alt="", id="person-img-3")
        div.end-1-3
          p Get things done, together.
        div.end-2-3
          p Share your lists and give tasks to others to get things done faster.
    div.frame-4
        img(src="../img/gru.png", alt="", id="person-img-4")
        div.end-1-4
          p Everywhere you go.
        div.end-2-4
          p ToDoomList is magically in sync on all your devices.
    div.dots
        div(id="dot-1")
        div(id="dot-2")
        div(id="dot-3")
        div(id="dot-4")
