

header
  div.main-nav-box
    div.home-page-image
    ul.links
        li: a(href='/') Tour
        li: a(href='/') What's New
        li: a(href='/') Upgrade
        li: a(href='/') Help
        li: a(href='/users/login') Log in
        li: a(href='/users/sign-up' id='sign-up') Sign up for free