

header
  div.main-nav-box
    div.home-page-image
    ul.links
        //- li: a(href='/') About Us --> Here's an idea: A route that leads to a basic page about each one of us?
        li: a(href='/users/login' class="navbar-links" id="nv-bar-login") Log in
        li: a(href='/users/sign-up' id='sign-up' class="navbar-links") Sign up for free
