div.main-body
  div.main-container
    div.top-container
        p.mission-statement The smart to-do app for busy people.  
        a(href='/users/sign-up' id='mid-page-sign-up') Sign Up Free
    div.frame-1
        div.left-bubble-1
          img(src="../img/text-bubble.png", alt="" id="left-bubble-img-1")
          div
            p Steal the Moon ...
        div.right-bubble-1
          img(src="../img/text-bubble.png", alt="" id="right-bubble-img-1")
          div
            p ..Buy Milk After
        img(src="../img/dr.png", alt="", id="person-img-1")
        div.end-1
          p Get to-dos out of your head.
        div.end-2
          p Stop thinking about your to-dos, and let the app remember for you.
    div.frame-2
        div.left-bubble-2
        div.l-bubble-text
          p Snap away the universe..
        div.right-bubble-2
        div.r-bubble-text
          p ..Buy Milk After
        img(src="../img/thanos.png", alt="", id="person-img-2")
        div.end-1-2
          p Get reminded, anywhere.
        div.end-2-2
          p You'll never forget the milk (or enything else) again.
    div.dots
        div(id="dot-1")
        div(id="dot-2")
        div(id="dot-3")
        div(id="dot-4")
    
//-   div.frame-2
//-     div.left-bubble-2
//-       img(src="", alt="" id="left-bubble-img-2")
//-       img(src="", alt="" class="icon")
//-       p Steal the moon tommorrow
//-     div.right-bubble-2
//-       img(src="", alt="" id="right-bubble-img-2")
//-       img(src="", alt="" class="icon")
//-       p Grab milk after stealing moon
//-     img(src="", alt="", id="person-img-2")
//-     p Get reminded, anywhere.
//-     p You'll never forget the milk (or anything else) again.
//-   div.frame-3
//-     div.left-bubble
//-       img(src="", alt="" id="left-bubble-img-3")
//-     div.right-bubble
//-       img(src="", alt="" id="right-bubble-img-3")
//-     img(src="", alt="", id="person-img-3")
//-     p Get things done, together.
//-     p Share your lists and give tasks to others to get things done faster.
//-   div.frame-4
//-     div.left-bubble
//-       img(src="", alt="" id="left-bubble-img")
//-     div.right-bubble
//-       img(src="", alt="" id="right-bubble-img")
//-     img(src="", alt="", id="person-img")
//-     p Get to-dos out of your head
//-     p Stop thinking about your to-dos, and let the app remember for you.
  div.dots

