doctype html
html
 head
     block head
      title="To Doom List"
      <meta name="description" content="To Doom List App" />
      <meta name="title" property="og:title" content="To Doom List" />
      <meta property="og:type" content="Website" />
      <meta name="image" property="og:image" content='https://res.cloudinary.com/alex-clough/image/upload/v1623885555/Screen_Shot_2021-06-16_at_3.10.07_PM_xbpaw2.png' />
      <meta name="description" property="og:description" content="To Doom List" />
      <meta name="author" content="Brian Xue, Christian Cozma, Alex Clough, Nathaniel Cooke" />
      link(rel='stylesheet' href='/stylesheets/reset.css')
      <script src="https://kit.fontawesome.com/118a6713a9.js" crossorigin="anonymous"></script>
 body
   block content