doctype html
html
  head
      block head
        title="To Doom List"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
  <!-- added modal to head of body to achieve blur effect-->
    .add-scheme-modal#add-scheme-modal
                .modal-content
                    p Add a Scheme 
                    p Please enter a new scheme name: 
                    form
                      input(id="modal-form" name='modal-form' type='text' required)
                      button(type='submit' id="add-list") Add 
                      button(type='submit' id="exit-modal") Cancel
    block content
