doctype html
html
  head
      block head
        title="To Doom List"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        script(src='/javascripts/app-ploys.js' defer)
  body
    block content
