extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/villain-forms.css")
  //- add page specific js (is this needed?)
//-   script(src="/javascripts/index.js" type="module" defer)

block content
    div.villain__blocks
        div.villain__left-block
            article.villain__left-block-upper-half
                h1= pageTitle
                div
                    if errors
                        ul
                             each error in errors
                                li= error
            article.villain__left-block-lower-half

        div.villain__right-block
            block right
