extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/app.css")
  link(rel="stylesheet" href="/stylesheets/welcome.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  //- add page specific js
  
  script(src='/javascripts/demo-user-seed.js' type="module")

  script(src='/javascripts/welcome-chev-animation.js' type="module")

  //- script(src='/javascripts/schemes.js' type="module")





block content
  .get-started
    .btn-container
      i.fas.fa-chevron-right.one-l
      i.fas.fa-chevron-right.two-l
      i.fas.fa-chevron-right.three-l
      form(action="/app/", method="get")
          button(type="submit") Get Started
      i.fas.fa-chevron-left.three-r
      i.fas.fa-chevron-left.two-r
      i.fas.fa-chevron-left.one-r
    span.title Created By These Software Engineers:
  .background-left
    .nate-profile.profile-container
      img(src="../img/welcome-nathan.jpg", alt="")
      .text-box
        .name
          p Nathaniel Cooke
          p
            a(href="https://github.com/nathanieldcooke" target="_blank" rel="noopener noreferrer"
)
              i.fab.fa-github
          p
            a(href="https://www.linkedin.com/in/nathaniel-cooke-257a1363/" target="_blank" rel="noopener noreferrer")
              i.fab.fa-linkedin
          p
            a(href="https://nathanieldcooke.github.io/" target="_blank" rel="noopener noreferrer")
              i.fas.fa-globe
        .bio
          span My Journey
          p Based in Las Vegas, Nevada. I have strong full-stack web development experience. Having built few websites and games, I continue to grow as a developer everyday. While on this journey, I hope we can build some awesome applications together!
  .background-right
    .chris-profile.profile-container
      img(src="../img/welcome-chris.png", alt="")
      .text-box
        .name
          p Christian Cozma
          p
            a(href="https://github.com/Christian-Cozma" target="_blank" rel="noopener noreferrer")
              i.fab.fa-github.chris-i
          p
            a(href="https://www.linkedin.com/in/christian-cozma-9847431ba/" target="_blank" rel="noopener noreferrer")
              i.fab.fa-linkedin.chris-i
          p
            a(href="https://twitter.com/cozma_christian" target="_blank" rel="noopener noreferrer")
              i.fab.fa-twitter.chris-i
        .bio
          span My Journey
          p I’m a software engineer with my home-base in the Chicagoland area. I’m a recent college graduate with a degree in Philology, more specially Japanese Language and Literature and Finnish Language and Literature. I recently discovered my passion for technology and web development and have thereafter put in countless hours in order to immerse in programming. Now, having completed an intensive full-stack coding bootcamp, I am able to use JavaScript and Python professionally, as well as a slew from front-end libraries such as React and Redux. I’m excited to continue challenging my creativity as I advance my skills.
  .background-left
    .brian-profile.profile-container
      img(src="../img/welcome-brian.png", alt="")
      .text-box
        .name
          p Brian Xue
          p
            a(href="https://github.com/bxue2" target="_blank" rel="noopener noreferrer")
              i.fab.fa-github
          p
            a(href="https://www.linkedin.com/in/brian-xue/" target="_blank" rel="noopener noreferrer"
)
              i.fab.fa-linkedin
        .bio
          span My Journey
          p I’m a software engineer from the Bay Area with a Bachelor’s in Computer Science and 3 years of professional experience. I’ve recently been transitioning more towards full-stack web development, expanding on my previous skillset and looking to work on new and exciting projects.
  .background-right
    .alex-profile.profile-container
      img(src="../img/welcome-alex.png", alt="")
      .text-box
        .name
          p Alex Clough
          p
            a(href="https://github.com/CodingInRhythm" target="_blank" rel="noopener noreferrer")
              i.fab.fa-github.alex-i
          p
            a(href="https://www.linkedin.com/in/alex-clough-710546200/" target="_blank" rel="noopener noreferrer")
              i.fab.fa-linkedin.alex-i
          p
            a(href="https://codinginrhythm.github.io//" target="_blank" rel="noopener noreferrer")
              i.fas.fa-globe.alex-i
        .bio
          span My Journey
          p I'm a software engineer from the New York City area with a past career as a jazz pianist. I find that the challenges and potential for creativity present in software engineering scratch the same itches that my life in music has and I'm excited to continually learn more and broaden my skillset and understanding. I enjoy programming in JavaScript and Python and building applications with exciting frameworks and libraries like React, Flask and Express. I also have a passion for music-related tech and am continually exploring new developments in that space.
