.sidebar-left {
   /* background-color: #e4eff8c2; */
   height: 100%;
   width: 12%;
   display: flex;
   flex-direction: column;
}

#cow-img {
   height: 5rem;
   width: 100%;
   padding: .5em;
}


.ploys-box,
.schemes-box {
   display: flex;
   justify-content: space-between;
}

.right-container-ploys,
.right-container-schemes {
   padding-right: 20px;
}

.left-container-ploys,
.left-container-schemes {
   padding-left: 10px;
}

.left-container-ploys > a,
.left-container-schemes > a {
   padding-right: 10px;
}

/* .left-container-ploys > a > i,
.left-container-schemes > a > i {
   transform: rotate(0deg);
} */

.rotate-arrow {
   transform: rotate(270deg);
}

.right-container-ploys > a > i,
.right-container-schemes > a > i {
   color: rgb(92, 181, 4);
}

.scheme-entry {
   display: flex;
   justify-content: space-between;
   cursor: pointer;
}

.scheme-entry > span {
   padding-left: 20px;
}

.scheme-entry > a {
   padding-right: 10px;
   display: none;
}

.scheme-entry:hover > a {
   display: block;
}

.cut-text {
 text-overflow: ellipsis;
 overflow: hidden;
 width: 160px;
 white-space: nowrap;
}

.dropdown-content {
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 /* padding: 12px 16px; */
 z-index: 1;
}

.hidden {
   display: none;
}

.scheme-action-buttons {
 padding: 12px 16px;

}
.scheme-action-buttons:hover {
   background-color: cornflowerblue;
}

@media screen and (max-width:1000px) {
   .sidebar-left {
      width: 30%;
   }
}