.task-summary{
    padding-left: 30px;
    padding-top: 50px;
    background-color: rgb(228,238,248);
    /* background-color: #e4eef2; */
    height: 100%;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.list-name{
    font-size: 1.1rem;
}

.scheme-summary{
    display: flex;
    margin-top: 20px;
}

.scheme-summary-box{
    background-color: #dbe8f6;
    padding: 10px;
    margin-right: 5px;
}

.scheme-summary-number{
    font-size: 1.1875rem;
    font-weight: 600;
}

.scheme-summary-text{
    font-size: .75rem
}

#tasks{
    color: #0060bf;
}

#completed{
    color: rgba(0,0,0,0.4)
}

#overdue{
    color: #d74a00;
}

.ploy-data-container {
    height: 100%;
    width: 44%;
    position: absolute;
    right: 0px;
    overflow: hidden;
}


.ploy-data{
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: white;
    padding-left: 15px;
    padding-top: 40px;
    position: absolute;
    left: 0px;
    transition-property: left;
    transition-duration: 0.25s;
}

.ploy-data.hidden {
    left: 100%;
    display: hidden;
}


.ploy-data__name-form{
    display: flex;
    width: 95%;
    height: 30px;
}

.ploy-data__name-form > input{
    border: 1px grey solid;
    border-radius: 5px;
    width: 90%;
}

.ploy-data__name-form > input:focus {
    outline: none !important;
    border: 1px solid rgba(102, 175, 233, 0.6);
    box-shadow: 0px 0px 4px rgba(102, 175, 233, 0.6);
}

.ploy-data__data-field{
    margin-top: 10px;
    margin-left: 20px;
}

.ploy-data__data-field__label{
    font-size: 12px;
    color:rgba(0, 0, 0, 0.6);
    font-weight: 600;
}

.ploy-data__data-field__data{
    font-size: 12px;
}
