/* First take the footer container*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-container {
    background-color: gray;
    height: 200px;
    padding: 75px 20px;
}

.footer {
    display: flex;
    justify-content: center;
    width: 80rem;
    height: 10rem;
    flex-wrap: wrap;
    margin: 0 auto;
}


