@keyframes blue-lightblue {
    from {
        background-color: #0060bf;
    }

    to {
        background-color: #3292f2;
    }
}

@keyframes lightblue-violet {
    from {
        background-color: #3292f2;
    }

    to {
        background-color: #6a4ca6;
    }
}

@keyframes violet-green {
    from {
        background-color: #6a4ca6;
    }

    to {
        background-color: #5bb84d;
    }
}

@keyframes green-blue {
    from {
        background-color: #5bb84d;
    }

    to {
        background-color: #0060bf;
    }
}

@keyframes out-of-frame {
    from {
        left: 0%;
    }

    to {
        left: -200%;
    }
}

@keyframes in-to-frame {
    from {
        left: 200%;
    }

    to {
        left: 0%;
    }
}