header {
    z-index: 10;
    opacity: 1;
    color: white;
    border-bottom: rgb(65, 65, 65) solid 1px;
    display: flex;
    justify-content: center;
    /* background-color: white; */
    /* makes navbar sticky */
    position: fixed;
    top: 0;
    width: 100%;
    animation: .5s linear;
    background-color: #0060bf;
}

.home-page-image {
    background-image: url(../img/evil-cow-image.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 85px;
    width: 180px;
}

a {
    text-decoration: none;
}
.main-nav-box {
    width: 72rem;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 2em; */
    /* padding: 0px 10px; */
}

.links {
    /* margin:  */
}

.links li {
    display: inline-block;
    margin: 0 1.1em;
}

a {
    font-size: 14px;
}

#sign-up {
    border: 2px solid white;
    padding: .4em .8em;
    border-radius: 5px;
}