@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=MuseoModerno:wght@200&family=Roboto:wght@300&family=Sue+Ellen+Francisco&display=swap');

/*! Font Families:
font-family: 'Inria Sans', sans-serif;
font-family: 'MuseoModerno', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Sue Ellen Francisco', cursive;
*/

header {
    z-index: 10;
    opacity: 1;
    color: white;
    border-bottom: rgba(65, 65, 65, 0.3) solid 1px;
    display: flex;
    justify-content: center;
    /* background-color: white; */
    /* makes navbar sticky */
    position: fixed;
    top: 0;
    width: 100%;
    animation: .5s linear;
    background-color: #0060bf;
}
.home-page-image {
    /* background-image: url(../img/evil-cow-image.png);
    background-size: 100%;
    background-repeat: no-repeat; */

    height: 5.5em;
    width: 210px;
}

.links li {
    display: inline-block;
    margin: 0 1.1em;
}

/* .home-page-image {
    background-image: url(../img/evil-cow-image.png);
    background-size: 100%;
    background-repeat: no-repeat;

    height: 115px;
    width: 210px;
} */

.home-page-image {
    /* background-image: url(../img/evil-cow-image.png);
    background-size: 100%;
    background-repeat: no-repeat; */
    margin: 1em;
    height: 5.5em;
    width: 210px;
}

a {
    text-decoration: none;
}

header a, header div.demo-user-btn {
    border: rgba(255, 255, 255, 1) solid 1.5px;
    padding: .5em 1.75em;
    border-radius: 5px;
    /* font-size: 1rem; */
}

/* header div.demo-user-btn {
} */

header div.demo-user-btn button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 1.05em;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.main-nav-box {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;

}

header a:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

span {
    color: rgb(159, 0, 0);
    font-weight: bold;
}

/* .main-nav-box {

    display: flex;
 
    align-items: center;

}

.links li {
    display: inline-block;
    margin: 0 1.1em;
}

.navbar-links {
    font-family: 'Inria Sans', sans-serif;
    padding: .4em 1.25rem;
    border-radius: 5px;
    font-weight: 900;
    font-size: 1rem;
    position: relative;
    left: 25rem;
    margin: 0 15px;
    color: rgba(0, 0, 0, 0.8);
}

#nv-bar-login{
    font-size: 1.25rem;
    border: 3px solid black;
    background-color: rgba(215, 155, 255, 0.8);
    color: black;
}

#sign-up {
    font-size: 1.45rem;
    border: 3px solid black;
    color: black;
    background-color: rgba(215, 155, 255, 0.8);
}

#sign-up:hover, #nv-bar-login:hover {
    cursor: pointer;
    background-color: rgba(193, 100, 255, 0.8);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
 */

 @media screen and (max-width: 1500px) {
     .main-nav-box {width: 100%}
     /* .main-container div {margin: 0px 100px;} */
 }
