/* First take the footer container*/
.footer-container {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
    position: relative;
    /* top: 25rem; */
    height: 350px;
}

h3 {
    margin: 0.4rem;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 60%;
    height: 10rem;
    /* flex-wrap: wrap; */
    margin: 15px auto;
}

.lists {
    display: flex;
    margin: 10px 15px;
    flex-direction: column;
    text-decoration: none;
}

.lists ul {
    list-style-type: none;
}

.lists h3 {
    display: flex;
    justify-content: center;
    width: auto;
    font-weight: 700;
    font-size: 1.45rem;
    vertical-align: top;
    /* line-height: 1rem; */
}

.lists a {
    font-size: 1.25rem;
    margin: 0.5rem;
    width: 50%;
    padding-right: 5rem;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 5px;
}

.lists a:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    /* background-color: black; */
}

ul li {
    font-size: 1.50rem;
}

.footer-bottom {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    /* overflow-y: auto; */
    margin: 50px 0;
    position: relative;
    top: 5rem;
}

.footer-bottom ul {
    list-style-type: none;
    /* margin: 15px; */
}

.footer-bottom a {
    font-size: 1.5rem;
    margin: 0 15px;
}

.tdl-legal li {
    display: inline-block;
}
