@keyframes blue-lightblue {
    from {
        background-color: #0060bf;
    }

    to {
        background-color: #3292f2;
    }
}

@keyframes lightblue-violet {
    from {
        background-color: lightblue;
    }

    to {
        background-color: violet;
    }
}

@keyframes violet-green {
    from {
        background-color: violet;
    }

    to {
        background-color: green;
    }
}

@keyframes green-blue {
    from {
        background-color: green;
    }

    to {
        background-color: blue;
    }
}

@keyframes out-of-frame {
    from {
        left: 0%;
    }

    to {
        left: -200%;
    }
}

@keyframes in-to-frame {
    from {
        left: 200%;
    }

    to {
        left: 0%;
    }
}

body {
    padding: 0px;
    background-color: blue;
    /* animation-name: blue-lightblue; */
    animation: .5s linear;
}