div.main-body {
    padding-top: 8em;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    max-height: 100vh;
}

div.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.top-container {
    /* width: 40em; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.top-container > a {
    /* padding-left: 50px; */
    /* width: 9em; */
    align-self: center;
    padding: 15px 35px;
    background-color: #d24b03;
    font-size: 23px;
    text-align: center;
    color: white;
    border-radius: 5px;
}

p.mission-statement {
    font-size: 44px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    align-self: center;
    margin-bottom: 30px;
    /* padding-bottom: 0px; */
}


/* ####### */
/* Frame 1 */
/* ####### */

div.frame-1 {
    position: absolute;
    margin-top: 1em;
    /* display: flex; */
    /* flex-direction: column; */
    width: 50em;
    height: 50em;
    animation: .5s linear;
    top: 100%
}


div.left-bubble-1 > img {
    position: absolute;
    left: 10.5em
}

div.right-bubble-1 > img {
    position: absolute;
    left: 30em
}

div.left-bubble-1 > div {
    width: 5em;
    text-align: center;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: absolute;
    left: 8.4em;
    top: .5em;
}

div.right-bubble-1 > div {
    width: 5em;
    text-align: center;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: absolute;
    left: 22.5em;
    top: .5em
}

#person-img-1 {
    position: absolute;
    height: 350px;
    width: 200px;
    left: 36%;
    top: 15%;
}

.end-1 {
    font-size: 28px;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    position: absolute;
    left: 26%;
    top: 58%;
}

.end-2 {
    position: absolute;
    font-size: 20px;
    color: white;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 17em;
    text-align: center;
    font-weight: lighter;
    left: 29%;
    top: 65%;

}



/* ####### */
/* Frame 2 */
/* ####### */

div.frame-2 {
    position: absolute;
    margin-top: 1em;
    /* display: flex; */
    /* flex-direction: column; */
    width: 50em;
    height: 50em;
    animation: .5s linear;
    left: 200%;
    top: 100%;
}


div.left-bubble-2 {
    background-color: white;
    width: 25em;
    height: 3em;
    position: absolute;
    left: -15%;
    top: 8%;
    border-radius: 8px;
}

div.right-bubble-2 {
    position: absolute;
    width: 19em;
    height: 3em;
    background-color: white;
    top: 10%;
    left: 65%;
    border-radius: 8px;
}

#black-cow-left {
    position: absolute;
    top: 9%;
    left: -12.5%
}

#black-cow-right {
    position: absolute;
    top: 11%;
    left: 67%
}

div.l-bubble-text {
    width: 16em;
    text-align: center;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: absolute;
    left: -8%;
    top: 7%;
}

.black-cow {
    height: 35px;
    width: 35px;
}

div.r-bubble-text {
    width: 16em;
    text-align: center;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: absolute;
    top: 9%;
    left: 65%;
}

#person-img-2 {
    position: absolute;
    height: 350px;
    width: 250px;
    left: 31%;
    top: 15%;
}

.end-1-2 {
    font-size: 28px;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    position: absolute;
    left: 26%;
    top: 58%;
}

.end-2-2 {
    position: absolute;
    font-size: 20px;
    color: white;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 14em;
    text-align: center;
    font-weight: lighter;
    left: 29%;
    top: 65%;

}


/* ####### */
/* Frame 3 */
/* ####### */

div.frame-3 {
    position: absolute;
    margin-top: 1em;
    /* display: flex; */
    /* flex-direction: column; */
    width: 50em;
    height: 50em;
    animation: .5s linear;
    left: 200%;
    top: 100%;
}


div.left-bubble-3 {
    background-color: white;
    width: 24em;
    height: 4.5em;
    position: absolute;
    left: -18%;
    top: 8%;
    border-radius: 8px;
}

div.right-bubble-3 {
    position: absolute;
    width: 25em;
    height: 4.5em;
    background-color: white;
    top: 10%;
    left: 65%;
    border-radius: 8px;
}

div.l-bubble-text-3 {
    width: 16em;
    /* text-align: center; */
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: absolute;
    left: -8%;
    top: 7%;
}

div.r-bubble-text-3 {
    width: 16em;
    /* text-align: center; */
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: absolute;
    top: 9%;
    left: 74%;
}

/* .text-emoji {
    height: 100px;
    width: 100px;
} */

#jesse-left {
    height: 60px;
    width: 60px;

    left: -17%;
    top: 9%;
    position: absolute;
}

#james-right {
    height: 50px;
    width: 50px;

    top: 11.5%;
    left: 66%;
    position: absolute;
}

#person-img-3 {
    position: absolute;
    height: 350px;
    width: 250px;
    left: 31%;
    top: 15%;
}

.end-1-3 {
    font-size: 28px;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    position: absolute;
    left: 26%;
    top: 58%;
}

.end-2-3 {
    position: absolute;
    font-size: 20px;
    color: white;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 18em;
    text-align: center;
    font-weight: lighter;
    left: 26%;
    top: 65%;

}

/* ####### */
/* Frame 3 */
/* ####### */

div.frame-4 {
    position: absolute;
    margin-top: 1em;
    /* display: flex; */
    /* flex-direction: column; */
    width: 50em;
    height: 50em;
    animation: .5s linear;
    left: 200%;
    top: 100%;
}


div.left-bubble-4 {
    background-color: white;
    width: 24em;
    height: 4.5em;
    position: absolute;
    left: -18%;
    top: 8%;
    border-radius: 8px;
}

div.right-bubble-4 {
    position: absolute;
    width: 25em;
    height: 4.5em;
    background-color: white;
    top: 10%;
    left: 65%;
    border-radius: 8px;
}

div.l-bubble-text-4 {
    width: 16em;
    /* text-align: center; */
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: absolute;
    left: -8%;
    top: 7%;
}

div.r-bubble-text-4 {
    width: 16em;
    /* text-align: center; */
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: absolute;
    top: 9%;
    left: 74%;
}

#person-img-4 {
    position: absolute;
    height: 350px;
    width: 250px;
    left: 31%;
    top: 15%;
}

.end-1-4 {
    font-size: 28px;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    position: absolute;
    left: 32%;
    top: 58%;
}

.end-2-4 {
    position: absolute;
    font-size: 20px;
    color: white;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 18em;
    text-align: center;
    font-weight: lighter;
    left: 25%;
    top: 65%;

}

/* div.dots {
    height: 10px;
    width: 50px;
    background-color: red;
} */

@media screen and (max-width: 1500px) {
    div.frame-1 {top: 200%}
    div.frame-2 {top: 200%}
    div.frame-3 {top: 200%}
    div.frame-4 {top: 200%}
    div.left-bubble-2 {left: -5%; }
    div.l-bubble-text { left: 0 }
    #black-cow-left {left:-4%}
    div.left-bubble-3 {left: -5%; top: 5%}
    div.l-bubble-text-3 {left: 5%; top: 5%; font-size: 20px;}
    #jesse-left {left: -4%; top: 6%;}
    #james-right{left: 58%; top: 7%;}
    div.r-bubble-text-3{top: 6%; left: 66%; font-size:20px;}
    div.right-bubble-3{top: 6%; left:57%;}
    div.main-container{}
}