@import "homepage.css";
@import "homepage-footer.css";
@import "homepage-nav.css";
@import "homepage-div-body.css";

div.un-scrolled {
    height: 100vh;
    width: 100vw;
    animation: .5s linear;
    background-color: #0060bf;
}

