@import "homepage.css";
@import "homepage-footer.css";
@import "homepage-nav.css";
@import "homepage-div-body.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');


div.un-scrolled {
    height: 65rem;
    width: 100vw;
    animation: .5s linear;
    background-color: #0060bf;
    overflow: hidden;
    margin-bottom: -12px;
}

@media screen and (max-width: 700px) {
    body {
        display:flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;
    }
    div.un-scrolled {flex-grow: 3; }
}
