@import "signup-left.css";
@import "signup-right.css";

html, body{
    height: 100%;
}

.villain__blocks{
    display: flex;
    height:100%;
}

.villain__button-link{
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 96, 191, 0.1);
    size: 3em 3em;
    margin-bottom: 50px;
    padding: 5px 11px;
    text-decoration: none;
}

.villain__login-form, .villain__signup-form{
    box-sizing: border-box;
    padding: 10px;
}

.villain__input-div{
    box-sizing: border-box;
    padding-bottom: 15px;
}

.villain__input-field{
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 2em;

    font-size: 23px;
}

.villain__input-field:focus{
    outline: none !important;
    border: 1px solid rgba(102, 175, 233, 0.6);
    box-shadow: 0px 0px 4px rgba(102, 175, 233, 0.6);
}
