.get-started {
    background-color: skyblue;
    /* height: 10em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

button {
    font-size: 1em;
    height: 9em;
    width: 9em;
    border-radius: 100%;
    align-self: center;
    font-weight: bold;
    background-color: rgba(255,255,255,.2);
    border: white solid 2px;
}

form {
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    height: 9em;
    width: 9em;
    border-radius: 100%;
    border: white solid 2px;
    margin-top: 1em;
}

form:hover {
    background-color: rgba(255,255,255,.5);

}


img {
    height: 20em;
    width: 20em;
    border-radius: 100%;
    margin: 2em;
}

body {
    background-color: skyblue;
}

.profile-container {
    display: flex;
}

.chris-profile, .alex-profile {
    flex-direction: row-reverse;
    align-content: flex-end;
    border-top-right-radius: 15em;
    border-bottom-right-radius: 15em;
    background-color: skyblue;
}

.nate-profile, .brian-profile {
    border-top-left-radius: 15em;
    border-bottom-left-radius: 15em;
    background-color: rgb(15, 171, 233);
}

.text-box {
    /* margin-top: 2em; */
    width: 50%;
}

.background-right {
    background-color: rgb(15, 171, 233);
}

.background-left {
    background-color: skyblue;
}

.name > p {
    font-size: 2em;
}

.name {
    display: flex;
    align-content: center;
}

i {
    font-size: 2em;
    align-self: center;
    margin-left: 1em;
    color: skyblue;
    background-color: rgba(255,255,255,0);
    padding: .3em;
    border-radius: 100%;
    border: white solid 1px;
}

.chris-i, .alex-i {
    color: rgb(15, 171, 233);
}

i:hover {
    background-color: rgba(255,255,255,.5);
    color: black;
}

.bio > span {
    font-size: 1.25em;
    font-weight: bold;
    color: rgb(89, 89, 89);
}

span.title {
    align-self: center;
    margin: 1em;
    /* padding-bottom: 1em; */
    font-size: 1.25em;
}